{%extends 'layout.html'%}
{% block body_content %}

<!-- One -->
<section id="one" class="wrapper post bg-img" data-bg="banner2.jpg">
	<div class="inner">
		<article class="box">
			<header>
				<h2> Expertel SA Proceedit</h2>
				<p>Artificial Intelligence Development
				Intern  Aug 2024- Present, Spain</p>
			</header>
			<div class="content">
				<p> Buildingdeployableapplications using Flask frameworkcombined with GraphQL</p>
			</div>
			<footer><a href="generic.html" class="button alt">Learn More</a></footer>
		</article>
	</div>
	<a href="#two" class="more">Learn More</a>
</section>

<!-- Two -->
<section id="two" class="wrapper post bg-img" data-bg="banner5.jpg"><div class="inner">
	<article class="box"><header><h2>Instagram Reach Analysis.</h2>
		<p>Machine Learning Project Jun 2024- Jul 2024</p>
	</header><div class="content">
		<p>
	- Conductedcomprehensivedatacollection and preprocessing on In
	stagram post reach data, ensuring high-quality data for analysis.<br>
	- Performedexploratory data analysis (EDA) to uncover keyinsights
	 and trends, using Python for data visualization and interpretation.<br>
	 - Developed and evaluated machine learning models to predict In
	stagram post reach, providing actionable insights based on model
	 performance.
		</p>
	</div>
		<footer><a href="generic.html" class="button alt">Learn More</a>
		</footer></article>
</div>
	<a href="#three" class="more">Learn More</a>
</section>

<!-- Three -->
<section id="three" class="wrapper post bg-img" data-bg="banner4.jpg"><div class="inner">
	<article class="box"><header><h2> Patient Record System</h2>
			<p>Database Management Project  Feb 2024- Apr 2024</p>
		</header><div class="content">
			<p>- Designed and implemented a C Windows Form application with 
				SQL integration for a Gynecology and Obstetrics Patient Registra 
			   tion System.- Developed functionalities to record, update, and delete personal 
				information of patients efficiently.- Ensured seamless data management for daily hospital patient
				records, enhancing operational efficiency and accuracy</p>
		</div>
		<footer><a href="generic.html" class="button alt">Learn More</a>
		</footer></article></div>
	<a href="#four" class="more">Learn More</a>
</section>

<!-- Four -->
<section id="four" class="wrapper post bg-img" data-bg="banner3.jpg"><div class="inner">
	<article class="box"><header><h2>Film library management system.</h2>
			<p> Database Management Project  Dec 2023- Jan 2024</p>
		</header><div class="content">
			<p>
				- Developed a comprehensive automation system for managing a
				movie library, enabling administrators to add and update movies
				and users to search, list, rate, and comment on movies.
				- Implemented user management features, distinguishing between
				standard and premium users, and managing user information and
				membership details.
				- Integrated movie statistics and notification functionalities, provid
			   ing users with updates on new movies and ensuring efficient
				database-based movie library management</p>
		</div>
		<footer><a href="generic.html" class="button alt">Learn More</a>
		</footer></article></div>
</section>
{%endblock%}
